
*,
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: #1E1E1E;
    font-size: 14pt;
    color:#fff;
    height: 2000px;
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-items: center;
}

.background{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url('../img/tech.png');
    opacity: 0.4;
    z-index: 10;
}

.koleevg_img{
    padding-top: 150px;
    width: 50%;
    align-self: center;
    height: auto;
    background-repeat: no-repeat;
    z-index: 10;
    transition: .5s;
}
.koleevg_img:hover{
    width: 55%;
}

a{
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

a:hover{
    color: #fff;
}

header.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252526 ;
    padding: 0 20px 0 20px;
    z-index: 100;
}

a.navbar_logo{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 18pt;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .5s;

}

a.navbar_logo:hover{
    letter-spacing: 4px;
}

.menu{
    position: fixed;
    top:60px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    z-index: 90;
}

a.menu_link {
    margin: 20px;
    font-size: 16pt;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}

a.menu_link::before{
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: #fff;
    transition: width .5s ease-in-out, left .5s ease-in-out;
    left: 50%;
    bottom: 0;
    }

a.menu_link::after{
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background-color: #fff;
    transition: width .5s ease-in-out;
    left: 50%;
    bottom: 0;
    }

a.menu_link:hover::before{
    width: 50%;
    left: 0;
    }

a:hover::after{
    width: 50%;
    
}

.collapse_btn{
    font-size: 18pt;
    cursor: pointer;
    display: none;
}

.collapse_btn:hover{
    font-size: 18pt;
    color:#AFAFAF;
    
}

.kollevg_container{
    
}




@media (max-width: 765px) {
    .collapse_btn{
        display: inline;
    }

    .menu{
        background: rgba(100, 100, 100, 0.5);
        position: fixed;
        top: -320px;
        left: 0;
        right: 0;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
    }

    .collapsed{
        top: 0;
    }

    .koleevg_img{
        width: 70%;
    }
    .koleevg_img:hover{
        width: 75%;
    }
}







